<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex flex-col h-screen justify-between">
    <header class="h-10 bg-red-500">
        Header
        <a href="/view/html/products-page.html">Products</a>
    </header>
    <main class="mb-auto h-auto bg-green-500">
        <section class="container mx-auto">
            <div class="grid grid-cols-4 gap-2" id="offers">
                
            </div>
        </section>
        <section>
            ds
        </section>
    </main>
    <footer class="w-full h-64 bg-blue-300 static bottom-0">
        Footer
    </footer>
    <script src="../js/index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>